<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse ">
	<!-- BEGIN TOP NAVIGATION BAR -->
	<div class="navbar-inner">
		<div class="header-seperation">
			<ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">
				<li class="dropdown">
					<a id="main-menu-toggle" href="#main-menu" class="">
						<div class="iconset top-menu-toggle-white"></div>
					</a>
				</li>
			</ul>
			<!-- BEGIN LOGO -->
			<a href="/users/home">
				<img src="../assets/img/logo.png" class="logo" data-src="../assets/img/logo.png" data-src-retina="../assets/img/logo2x.png" width="60%" />
			</a>
			<!-- END LOGO -->
		</div>
		<!-- END RESPONSIVE MENU TOGGLER -->
		<div class="header-quick-nav">
			<!-- BEGIN TOP NAVIGATION MENU -->
			<div class="pull-left">
				<ul class="nav quick-section">
					<li class="quicklinks">
						<a href="#" class="" id="layout-condensed-toggle">
							<div class="iconset top-menu-toggle-dark"></div>
						</a>
					</li>
				</ul>
			</div>
			<!-- END TOP NAVIGATION MENU -->
			<!-- BEGIN CHAT TOGGLER -->
			<div class="pull-right">
				<div class="chat-toggler">
					<a href="#" class="dropdown-toggle" id="my-task-list" data-placement="bottom" 
					data-toggle="dropdown" data-original-title="Notifications" data-html='true'
					data-content=''
					>

						
						<div class="user-details">
							<div class="username">
								<span class="badge badge-important" id="countNotify"></span>
								<span id="first-name"><%=user.firstName%></span>
								<span class="bold" id="last-name"><%=user.lastName%></span>
							</div>
						</div>
						<div class="iconset top-down-arrow"></div>
					</a>
					<div class="profile-pic">
						<img data-src="" data-src-retina="assets/img/profiles/avatar_small2x.jpg" width="35" height="35" src= <%=imgpaths%>    />
					</div>
				</div>
				<ul class="nav quick-section ">
					<li class="quicklinks">
						<a data-toggle="dropdown" class="dropdown-toggle  pull-right" href="#">
							<div class="iconset top-settings-dark "></div>
						</a>
						<ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="dropdownMenu">
							<li>
								<a href="user-profile">My Account</a>
							</li>
							<li>
								<a href="calender">My Calendar</a>
							</li>
							<li>
								<a href="email">My Inbox&nbsp;&nbsp;
									<span class="badge badge-important animated bounceIn">2</span>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="../logout">
									<i class="icon-off"></i>&nbsp;&nbsp;Log Out</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- END CHAT TOGGLER -->
		</div>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END TOP NAVIGATION BAR -->
</div>

<!-- END HEADER -->
<script type="text/javascript" src="../assets/plugins/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../assets/js/notify.js"></script>
