<!-- BEGIN SIDEBAR MENU -->
<p class="menu-title"></p>
<ul>
  <li class="start active ">
    <a href="earnings">
      <i class="icon-custom-chart"></i>
      <span class="title">Earnings</span>
    </a>
  </li>
  <li class="">
    <a href="settings">
      <i class="icon-custom-thumb"></i>
      <span class="title">Email</span>
    </a>
  </li>
  <li class="">
    <a href="payments">
      <i class="icon-custom-extra"></i>
      <span class="title">Payments</span>
    </a>
  </li>
  <li class="">
    <a href="refer">
      <i class="icon-custom-thumb"></i>
      <span class="title">Refer</span>
    </a>
  </li>
</ul>

<!-- SCROLLBAR -->
<a href="#" class="scrollup">Scroll</a>
<div class="clearfix"></div>
<!-- END SIDEBAR MENU -->