<!-- BEGIN SIDEBAR MENU -->
<p class="menu-title"></p>
<ul>
  <li class="start active ">
    <a href="/users/prefrence">
      <i class="icon-custom-chart"></i>
      <span class="title">Prefrence</span>
    </a>
  </li>
  <li class="">
    <a href="#">
      <i class="icon-custom-thumb"></i>
      <span class="title">Add budget</span>
      <span class="arrow"></span>
    </a>
    <ul class='sub-menu'>
      <li class="">
      <a href="/users/addBudget"><i class="icon-custom-chart"></i>Personal Budget</a>
      </li>
      <li class="">
      <a href="/users/relationBudget"><i class="icon-custom-chart"></i>Relation Budget</a>
      </li>
    </ul>
  </li>
  <li class="">
    <a href="payments">
      <i class="icon-custom-extra"></i>
      <span class="title">Payments</span>
    </a>
  </li>
  <li class="">
    <a href="refer">
      <i class="icon-custom-thumb"></i>
      <span class="title">Refer</span>
    </a>
  </li>
</ul>

<!-- SCROLLBAR -->
<a href="#" class="scrollup">Scroll</a>
<div class="clearfix"></div>
<!-- END SIDEBAR MENU -->