<% layout( '../boilerplate') -%>
<h1>Add your Budget</h1>
<form action="/addbudget" method="post">
	<label for="amount_spend">Amount Spend</label> 
		<input type="text" name="amount_spend" />
	<label for="spend_on">Spend On</label> 
		<input type="text" name="spend_on" />
	<label for="location">location</label>
	<input type="text" name="location" />
	<label for="id">Amount Spend</label> 
		<input type="text" name="id" />
		<input type="submit" value="Add" />
			
</form>