<% layout( '../boilerplate') -%>
<style type="text/css">
	#middle
	{
		float:left;
		width:100%;
		background: rgba(0, 0, 0, 0.2);
		min-height:500px;
	}
	.middle_inner
	{
		margin:0 auto;
		width:990px;
	}.timeline{float:left; position:relative; min-height:470px; margin-top:25px; width:100%; background:url(../assets/img/timeline.png) no-repeat center top;}
.comment1{color: #FFFFFF;
    font-size: 14px;
    overflow: hidden;
    position: absolute;
    right: 277px;
    top: 148px;
    width: 170px;}
	.comment2{color: #FFFFFF;
    font-size: 14px;
    left: 245px;
    overflow: hidden;
    position: absolute;
    top: 281px;
    width: 170px;}
	.comment3{color: #FFFFFF;
    font-size: 14px;
    overflow: hidden;
    position: absolute;
    right: 277px;
    top: 388px;
    width: 170px;}


	</style>

<div class="timeline">
	<div style="width:1000px; margin:0 auto; position:relative;">
            	<div class="comment1">
                	<p>I have purchased mobile phone Rs 15,000</p>
                </div>
                <div class="comment2">
                	<p>I filled gas for Rs. 300 in bike today.</p>
                </div>
                <div class="comment3">
                	<p>Went to Movie, spent Rs. 500 </p>
                </div>
					</div>
</div>