<% layout( '../boilerplate') -%>
<style type="text/css">
	#middle
	{
		float:left;
		width:100%;
		background: rgba(0, 0, 0, 0.2);
		min-height:500px;
	}
	.middle_inner
	{
		margin:0 auto;
		width:990px;
	}.timeline{float:left; position:relative; min-height:470px; margin-top:25px; width:100%; }
.comment1{color: #FFFFFF;
    font-size: 14px;
    overflow: hidden;
    position: absolute;
    right: 277px;
    top: 148px;
    width: 170px;}
	.comment2{color: #FFFFFF;
    font-size: 14px;
    left: 245px;
    overflow: hidden;
    position: absolute;
    top: 281px;
    width: 170px;}
	.comment3{color: #FFFFFF;
    font-size: 14px;
    overflow: hidden;
    position: absolute;
    right: 277px;
    top: 388px;
    width: 170px;}


	</style>

<div class="row">
    <div class="col-xs-8 col-md-12">
<div class="timeline " id="timeline">
</div>
    </div>
</div>

<div class="row" id="children" >
    <div class="col-xs-6 col-md-4">
      <DIV id="donut" >
      </DIV>
    </div>
</div>
