<% layout( '../boilerplate') -%>
<style>
.f1_container {
  position: relative;
  margin: 10px auto;
  width: 32%;
  height: 281px;
  margin-right:10px;
  float:left;
  z-index: 1;
}
.f1_container {
  -webkit-perspective: 1000px;
-moz-perspective: 1000px;
-o-perspective: 1000px;
perspective: 1000px;
}
.f1_card {
  width: 100%;
height: 100%;
-webkit-transform-style: preserve-3d;
-webkit-transition: all 1.0s linear;
-moz-transform-style: preserve-3d;
-moz-transition: all 1.0s linear;
-o-transform-style: preserve-3d;
-o-transition: all 1.0s linear;
transform-style: preserve-3d;
transition: all 1.0s linear;
}
.f1_container:hover .f1_card {
  
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
  /*box-shadow: -5px 5px 5px #aaa;*/
}
.face {
  position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-o-backface-visibility: hidden;
backface-visibility: hidden;
}
.face.back {
 display: block;
-webkit-transform: rotateY(180deg);
-webkit-box-sizing: border-box;
-moz-transform: rotateY(180deg);
-moz-box-sizing: border-box;
-o-transform: rotateY(180deg);
-o-box-sizing: border-box;
transform: rotateY(180deg);
box-sizing: border-box;
padding: 10px;
color: white;

background-color: #aaa;
}
.page-title{background: #1B1E24;color: #FFFFFF; display: table-cell; font-size: 40px; height: 281px; margin: 10px auto; text-align: center; vertical-align: middle; width: 450px;}
.listing{
	list-style:none;
}
	.f1_container ul > li
padding-left: 6px;
line-height: 35px;
font-size: 25px;
</style>

<form action="updateprefrence" method="post">
<%//=JSON.stringify(user)%>
<br>
<% if(user.length > 1){  %>
<% for(var item =0 ;item< user.length;item++){ %>
	<% var data=eval(user[item]) %>
	<% data =JSON.parse(JSON.stringify(data))%>

	<% for(var inner in data){ %>
		<div class="f1_container">
    		<div class="f1_card shadow" >
				<div class="front face">
					<%=inner %>
				</div>
				<div class="back face center">
					<ul class="listing">
					<% for(var key in data[inner]){ %>
						<li><input type="checkbox" name='<%=inner + "[" + key + "]" %>' /><%=key%></li>
					<% } %>
					</ul>
        </div>
    </div>
</div>
<%	} } %>
<% }else{ %>
<div class="f1_container">
    <div class="f1_card shadow" >
        <div class="front face">
            <div class="page-title">Transportation</div>
        </div>
        <div class="back face center">
            <ul class="listing">
                <li>
                    <input type="checkbox" name="Transport[public transport]" />
                    Public Transport
                </li>
                <li>
                    <input type="checkbox" name="Transport[fuel]" />
                    Fuel
                </li>
                <li>
                    <input type="checkbox" name="Transport[purchase]" />
                    Vehical Purchase
                </li>
                <li>
                    <input type="checkbox" name="Transport[others]" />
                    Others
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="f1_container">
    <div class="f1_card" class="shadow">
        <div class="front face">
            <div class="page-title">Entertainment</div>
        </div>
        <div class="back face center">
            <ul class="listing">
                <li>
                    <input type="checkbox" name="Entertainment[movie]" />
                    Movies
                </li>
                <li>
                    <input type="checkbox" name="Entertainment[outing]" />
                    Outings
                </li>
                <li>
                    <input type="checkbox" name="Entertainment[party]" />
                    Party
                </li>
                <li>
                    <input type="checkbox" name="Entertainment[others]" />
                    others
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="f1_container">
    <div class="f1_card" class="shadow">
        <div class="front face">
            <div class="page-title">Household</div>
        </div>
        <div class="back face center">
            <ul class="listing">
                <li>
                    <input type="checkbox" name="Household[crockery]" />
                    Crockery
                </li>
                <li>
                    <input type="checkbox" name="Household[ration]" />
                   Ration
                </li>
                <li>
                    <input type="checkbox" name="Household[pocket money]" />
                    Pocket Money
                </li>
                <li>
                    <input type="checkbox" name="Household[servant salary]" />
                    Servant Salary
                </li>
                <li>
                    <input type="checkbox" name="Household[education]" />
                    Education
                </li>
                <li>
                    <input type="checkbox" name="Household[others]" />
                    Others
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="f1_container">
    <div class="f1_card" class="shadow">
        <div class="front face">
            <div class="page-title">Bills</div>
        </div>
        <div class="back face center">
            <ul class="listing">
                <li>
                    <input type="checkbox" name="Bills[electricity]" />
                    Electricity
                </li>
                <li>
                    <input type="checkbox" name="Bills[water]" />
                   Water
                </li>
                <li>
                    <input type="checkbox" name="Bills[telephone]" />
                    Telephone
                </li>
                <li>
                    <input type="checkbox" name="Bills[gas]" />
                    Gas
                </li>
                <li>
                    <input type="checkbox" name="Bills[mobile recharge]" />
                    Mobile Recharge
                </li>
                <li>
                    <input type="checkbox" name="Bills[internet]" />
                    Internet
                </li>
                <li>
                    <input type="checkbox" name="Bills[rent]" />
                    Rent
                </li>
                <li>
                    <input type="checkbox" name="Bills[health care]" />
                    Health Care
                </li>
                <li>
                    <input type="checkbox" name="Bills[television]" />
                    Television
                </li>
                <li>
                    <input type="checkbox" name="Bills[newspaper]" />
                    Newspapers
                </li>
                <li>
                    <input type="checkbox" name="Bills[others]" />
                    Others
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="f1_container">
    <div class="f1_card" class="shadow">
        <div class="front face">
            <div class="page-title">Shopping</div>
        </div>
        <div class="back face center">
            <ul class="listing">
                <li>
                    <input type="checkbox" name="Shopping[household commodities]" />
                    Household Commodities
                </li>
                <li>
                    <input type="checkbox" name="Shopping[wardrobe]" />
                   Wardrobe
                </li>
                <li>
                    <input type="checkbox" name="Shopping[others]" />
                    Others
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="f1_container">
    <div class="f1_card" class="shadow">
        <div class="front face">
            <div class="page-title">Miscellaneous</div>
        </div>
        <div class="back face center">
            <ul class="listing">
                <li>
                    <input type="checkbox" name="Miscellaneous[gifts]" />
                    Gifts
                </li>
                <li>
                    <input type="checkbox" name="Miscellaneous[services]" />
                   Services
                </li>
                <li>
                    <input type="checkbox" name="Miscellaneous[investment]" />
                    Investment
                </li>
                <li>
                    <input type="checkbox" name="Miscellaneous[donations]" />
                    Donations
                </li>
                <li>
                    <input type="checkbox" name="Miscellaneous[personal expenses]" />
                    Personal Expenses
                </li>
                <li>
                    <input type="checkbox" name="Miscellaneous[money lending]" />
                    Money Lending
                </li>
                <li>
                    <input type="checkbox" name="Miscellaneous[others]" />
                    Others
                </li>
                </ul>
        </div>
    </div>
</div>

<% } %>
<% var pref = user.prefrences[0] %>

<% for (key1 in pref){%>
    <% for (key2 in pref[key1]){%>
    <% var check = key1+'['+key2+']' %>
    <script>
    document.getElementsByName('<%- check %>')[0].checked = true;
    </script>   
    <%}%>                                            
<%}%> 


		<div>
			<input type="submit" />
			</div>
    </form>
			
	